  

  <!DOCTYPE html>
  <div *ngIf="signup">
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
  
  
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  
  </head>
  
  <body>
    <!-- navgation bar  -->
    <nav class="navbar fixed-top navbar-expand-lg fixed-top" style="background-color: white;">
      <div class="container">
        <a class="navbar-brand text-primary" href="index.html">Start Bootstrap</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link text-primary" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-primary" href="#">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-primary" href="#">LogIn</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <!-- main header -->
    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-5 bg-image"></div>
        <div class="col-md-8 col-lg-6">
          <div class="login d-flex align-items-center py-5">
            <div class="container">
              <div class="row">
                <div class="col-md-9 col-lg-8 mx-auto">
                  <h3 class="login-heading mb-4">REGISTER</h3>
                  <form class="form-signin">
                    <div class="form-label-group">

                      <input type="text" name="name" [(ngModel)]="name" id="inputUserame" class="form-control" placeholder="Username" required autofocus>
                      <label for="inputUserame">Username</label>
                    </div>
  
                    <div class="form-label-group">
                      <input type="email" id="inputEmail" name="email" [(ngModel)]="email" class="form-control" placeholder="Email address" required>
                      <label for="inputEmail">Email address</label>
                    </div>
  
                    <hr>
  
                    <div class="form-label-group">

                      <input type="password" id="inputPassword" class="form-control" name="password" [(ngModel)]="password" placeholder="Password" required>
                      <label for="inputPassword">Password</label>
                    </div>
  
                    <!-- <div class="form-label-group">
                      <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password"
                        required>
                      <label for="inputConfirmPassword">Confirm password</label>
                    </div> MAKE CONFIRM PASSWORD
   -->
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="register()" type="submit">Register</button>
                    <a class="d-block text-center mt-2 small" href="#" (click)="setlogin()">log In</a>   <!-- MAKE IT BUTTON -->
                    <hr class="my-4">
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  
</div>


  <app-login *ngIf="login"></app-login>